
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family:"Victor Crest";
}  
body{
    background-color:#19A1AE ;
}
main{
    position: relative;
}
.circle1{
    left: -15%;
    top: -40%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 978px;
    height: 979px; ;
    background-color:#53FFEE ;
    border-radius:50%  ;
    border:2px solid #53FFEE;
}
.circle2{
    left: -500px;
    bottom:-500px ;
    z-index: -1;
    overflow: hidden;
    width: 978px;
    height: 979px; ;
    background-color:#53FFEE ;
    border-radius:50%  ;
    border:2px solid #53FFEE;
}

.profile-card{
    border-radius: 20   px;
    position: relative;
    top: 173px;
   left: 545px;
   height: 545PX;
   width: 350px;
   
}
.cover{
    border-radius: 20px 20px 0px 0px;
    background-color: aquamarine;
    width: 350px;
    height: 144px;
   }
.img{
    >img{
    position: relative;
    left:127px;
    bottom: 55px;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    height: 100px;
    width:100px;
    object-fit: cover;
    }
    
    
}